@model IEnumerable<CurdApplication.Models.Image>
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<div class="container">
    <div class="row">
        <div class="col-8 offset-2">
            <!--<a class="btn btn-sm btn-success m-1" asp-controller="Employee" asp-action="Create">Create</a>-->
            <table class="table table-bordered">
                <thead>
                    <tr class="text-center">
                        <th>ID</th>
                        <th>Name</th>
                        <th>Image</th>
                        <th>Action</th>
                    </tr>
                </thead>
                @foreach (var d in Model)
                {
                    <tr class="text-center">
                        <td>@d.Id</td>
                        <td>@d.Name</td>
                        <!--<td img="@d.ImagePath" headers="100px;" width="100px;"></td>-->
                        <td><img src="@d.ImagePath" height="100px;" width="100px;" /></td>
                        <td>
                            <a class=" btn btn-sm btn-info" asp-controller="Upload" asp-action="Edit" asp-route-id="@d.Id">Edit</a>
                            <a class=" btn btn-sm btn-danger" asp-controller="Upload" asp-action="Delete" asp-route-id="@d.Id">Delete</a>
                        </td>
                    </tr>
                }
            </table>
        </div>
    </div>
</div>